<h1>Promote / Demote admin</h1>
<p>Enter the full name or email adress of a user and choose weather to promote or demote.</p>

<%= form_tag ({:controller => "adminpromote", :action => "update"}) do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  
  <div class="field">
    <%= label_tag :firstname %><br />
    <%= text_field_tag :firstname %>
  </div>
  
  <div class="field">
    <%= label_tag :lastname %><br />
    <%= text_field_tag :lastname %>
  </div>
  
  <div class="radiobutton">
	<%= radio_button_tag(:todo, 'promote', true) %>
	<%= label_tag(:todo_promote, "Promote") %>
	<%= radio_button_tag(:todo, 'demote', false) %>
	<%= label_tag(:todo_demote, "Demote") %>
	
  </div>
  
  <div class="actions">
    <br /><%= submit_tag("Save") %><br />
  </div>
<% end %>
