<%= form_for @developer, :html => {:multipart => true} do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
			<div class="field">
				<%=  f.label :reason %><br />
				<%=  text_field( :reportblockcontent, :reason)%>
			</div> 
			<div class="field">
				<%=  f.label :email %><br />
				<%=  text_field( :reportblockcontent, :email)%>
			</div>  			
			<%= text_field( :reportblockcontent, :status, :value => 0, :style => "display:none")  %>	
			<%= f.submit 'Report Developer' %> </br></br>			

<% end %>

