<div>
  <h2>People</h2>
	
	<div class="developers_newest">
	<h3>Newest <%= getAmountNewest %></h3>
	<% Developer.find(:all, :limit => getAmountNewest, :order => 'created_at DESC').each do |dev| %>
		<div class="tiled_4x">
			<a href="/developers/<%= dev.id %>">
				<div class="tile">
					<%= image_tag(dev.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
					<div class="caption"><div><%= dev.name %></div></div>
				</div>
			</a>
		</div>
	<% end %>
	</div>
	
	<div class="clear"></div>
	
	<div class="developers_most_popular">
	<h3>Most Popular <%= getAmountPopular %></h3>
	<% Developer.find(:all, :limit => getAmountPopular, :order => 'popularity DESC').each do |dev| %>
		<div class="tiled_4x">
			<a href="/developers/<%= dev.id %>">
				<div class="tile">
					<%= image_tag(dev.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
					<div class="caption"><div><%= dev.name %></div></div>
				</div>
			</a>
		</div>
	<% end %>
	</div>
	
	<div class="clear"></div>
</div>

<% if user_signed_in? %>
    <div><br/>

        <%= link_to "New Developer", new_developer_path %>
    </div>
<% end %>
