

<p id="notice"><%= notice %></p>
<h1><%= @developer.titel %></h1>
<p>
  <%= @developer.content %>
</p>


<button><%= link_to 'Edit', edit_developer_path(@developer) %> </button><button>
    <%= link_to 'Back', developers_path %></button>
