<div class="developer">
  <h1><%=  @developer.name %></h1>
  <div class="fact-box">

    <%=
        imguploader = ImageUploader.new

        if not @developer.image_url == imguploader.default_url

            image_tag @developer.image_url.to_s, :class => "media rounded"
        end
    %>
	<%= render :template => "facts/_standard", :locals => { :object => @developer, :label => "External Links" } %>
    <%= render :template => "facts/_credits", :locals => { :object => @developer } %>
    <%= render :template => "facts/_user_defined", :locals => { :object => @developer } %>
  </div>

  <div class="text">
    <%= markdown(@developer.description) %>
  </div>

  <div class="clear"></div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_developer_path(@developer) %> |
  <% end %>
  <%= link_to 'Back', developers_path %>
</div>

<script>

    $(document).ready(function() {
        var target = $('div.developer').offset().top - 25;

        $('html, body').animate({scrollTop: target}, 1000);
    })

</script>



