<p id="notice"><%= notice %></p>
<h1><%= @developer.name %></h1>
<p>
  <%= @developer.description %>
</p>

<%= button_to "Edit", edit_developer_path(@developer), :method => "get" %>
<br />
<%= link_to "Back", developers_path %>


<%= link_to "Webseite von Developer","http://www.google.com" , :target => "_blank"%>

