<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div id="all_genres_div" class="all">
      <h3>All Genres</h3>
      <div >
        <% Genre.all.each do |genre| %>
            <tr>
              <span><%= genre.name %></span>
            </tr>
        <% end %>
      </div>
    </div>
    <div id="all_platform_div" class="all">
      <h3>All Platforms</h3>
      <div >
        <% Platform.all.each do |platform| %>
            <tr>
              <span><%= platform.name %></span>
            </tr>
        <% end %>
      </div>
    </div>
    <div id="all_mode_div" class="all">
      <h3>All Modes</h3>
      <div >
        <% Mode.all.each do |mode| %>
            <tr>
              <span><%= mode.name %></span>
            </tr>
        <% end %>
      </div>
    </div>
    <div id="all_media_div" class="all">
      <h3>All Media</h3>
      <div >
        <% Medium.all.each do |medium| %>
            <tr>
              <span><%= medium.name %></span>
            </tr>
        <% end %>
      </div>
    </div>
    <div id="all_tags_div" class="all">
      <h3>All Tags</h3>
      <div >
        <% Tag.all.each do |tag| %>
            <tr>
              <span><%= tag.name %></span>
            </tr>
        <% end %>
      </div>
    </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
      <%= f.label :image, 'Choose profile picture' %><br />
      <%= f.file_field :image %>
    <%= f.label :image, 'Choose game picture' %>
    <div class="field" id="profilepicfields">

      <% imguploader = ImageUploader.new %>
          <% if not @game.image_url == imguploader.default_url %>
          <br />
          <%= f.label :image, (File.basename f.object.image_url.to_s)%><br/>
          <%=
                image_tag f.object.image_url.to_s, :class => 'thumb'

          %>

          <br/><%= f.label :remove_image, "remove game picture?" %>
          <%= f.check_box :remove_image %> <br/>
          <%end  %> <br/>
      <%= f.file_field :image %>   <br/>  <br/>

  </div>
  <div>
  <div class="newFieldsDiv"><script type="text/javascript">loadfields('<%= begin game_url rescue new_game_url end %>.json');</script></div>
    <%= submit_tag "Add Field", :type => 'button', :id => 'addFieldButton' ,
      :onclick => 'addField(this,["Aggregate Scores","Review Scores","Userdefined"]);'
  %>
  </div>
    <!--
  <div class="field">
    <div class="field-label">
      Developers
    </div>
    <%= text_field_tag 'new_developers' %>
  </div>

    <div class="field">
      <div class="field-label">
        Publisher
      </div>
      <%= text_field_tag 'new_publishers' %>
    </div>

    <div class="field">
      <div class="field-label">
        Distributor
      </div>
      <%= text_field_tag 'new_distributors' %>
    </div>

    <div class="field">
      <div class="field-label">
        Credits
      </div>
      <%= text_field_tag 'new_credits' %>
    </div>

    <div class="field">
      <div class="field-label">
        Release Dates
      </div>
      <%= text_field_tag 'new_release_dates' %>
    </div>

    <div class="field">
      <div class="field-label">
        Series
      </div>
      <%= text_field_tag 'new_series' %>
    </div>

    <div class="field">
      <div class="field-label">
        New Fields
      </div>
      <%= text_field_tag 'new_fields' %>
    </div>
-->
    <div class="field" >
      <!-- iterate through all the available videos for a game and create a field for them
      <f.text_area :video mit id!? > <remove button>
   end   -->
      <%= f.label 'Post Video Embed links here (youtube or vimeo)' %><br /><br />
      <div id="videos" >
      <%= f.fields_for :videos do |builder| %>
          <%= render :partial => 'video_fields', :locals => {:builder => builder} %>
      <%end %>
      <p><%= link_to_add_video_fields "Add Video", f, :videos %></p>
      </div><br/>
      </div>
      <div class="field">
    <%= f.label 'Upload Screenshots' %><br /><br />
    <div id="screenshots" >
      <%= f.fields_for :screenshots do |builder| %>
          <%= render :partial => 'screenshot_fields', :locals => {:builder => builder} %>
      <%end%>
      <p><%= link_to_add_screenshot_fields "Add Screenshot", f, :screenshots %></p>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>