<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="all-genres">
      <h3>All Genres</h3>
      <div id="all-genres-list" >
        <% Genre.all.each do |genre| %>
            <tr>
              <span><%= genre.name %></span>

            </tr>
        <% end %>
      </div>
    </div>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <div class="field-label">
      Genres
    </div>
    <script type="text/javascript">var genreTags = ["<%= Genre.all.collect {|x| x.name}.join('", "').html_safe%>"];</script>
    <%= text_field_tag 'new_genres', @game.genres.all.collect {|x| x.name}.append(params[:new_genres]).join(', ')%>
    <br/>

  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
    <div class="field">
      <%= f.label :image, 'Choose profile picture' %><br /> <br/>
      currently chosen: "<%= imguploader = ImageUploader.new
          if not @game.image_url == imguploader.default_url
           File.basename @game.image.to_s
          end %>"<br/><br/>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <!-- iterate through all the available videos for a game and create a field for them

      <f.text_area :video mit id!? > <remove button>

   end   -->
      <%= f.label 'Post Video Embed links here (youtube or vimeo only)' %><br /><br />
      <div id="videos" >
      <%= f.fields_for :videos do |builder| %>

          <%= render :partial => 'video_fields', :locals => {:builder => builder} %>

      <%end %>
      <p><%= link_to_add_video_fields "Add Video", f, :videos %></p>
      </div>


    </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
