
<div>
    <h2>Games</h2>
	
	<h3>Newest <%= getAmountNewest %></h3>
	<% Game.find(:all, :limit => getAmountNewest, :order => 'created_at DESC').each do |game| %>
		<div class="tiled_2x">
			<a href="/games/<%= game.id %>">
				<div class="tile">
					<%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
					<div class="caption"><div><%= game.title %></div></div>
				</div>
			</a>
		</div>
	<% end %>
	
	<div class="clear"></div>
	
	<h3>Most Popular <%= getAmountPopular %></h3>
	<% Game.find(:all, :limit => getAmountPopular, :order => 'popularity DESC').each do |game| %>
		<div class="tiled_2x">
			<a href="/games/<%= game.id %>">
				<div class="tile">
					<%= image_tag(game.image_url(:tiled_2x).to_s, :class => 'rounded teaser')%>
					<div class="caption"><div><%= game.title %></div></div>
				</div>
			</a>
		</div>
	<% end %>
	
	<div class="clear"></div>
</div>

<% if user_signed_in? %>
    <div><br>
    <%= link_to 'New Game', new_game_path %>
    </div>
<% end %>




