<div class="layout-container">
  <h1>Games</h1>

  <%= link_to 'New Game', new_game_path %>

  <ul id="games-list">
    <!--<tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>-->

    <% @games.each do |game| %>
    <li class="game_<%= game.title %>">
      <ul>
          <li><%= link_to game.title, game, :class => "game-title" %></li>
          <li><%= link_to 'Edit', edit_game_path(game) %></li>
          <li><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
