<div class="game">
  <div class="media rounded">
    <%=
        imguploader = ImageUploader.new

        if not @game.image_url == imguploader.default_url
            image_tag @game.image_url(:top_game).to_s, :class => "media rounded"
        end

    %>

  </div>
  <h1><%= @game.title %></h1>

  <div class="fact-box">
    <p>
      <strong>Developer</strong>: <a href="#">Some developer</a><br />
      <strong>Released</strong>: 2012<br />
      <strong>Platforms</strong>: PC, Mac, Linux, XBox360, PS3<br />
      <strong>Publisher</strong>: <a href="#">Awesome game publisher</a><br />
      <strong>Genre</strong>:
      <% @game.genres.each do |genre| %>
          <% if not genre == @game.genres.first %>,
          <% end%>
          <%= genre.name%>
    <% end %>
    </p>

    <p>
      <strong>Design</strong>: Turenga Leela<br />
      <strong>Programming</strong>: <a href="#">Bender Bending Rodruigez</a><br />
      <strong>QA Lead</strong>: Scruffy<br />
      <strong>EMEA Publishing</strong>: Awesome Game Publisher<br />
      <strong>Localisation</strong>: Das Translation
    </p>
    <p>
    <div>
      </div>
    </p>

  </div>

  <div class="text">
    <%= markdown(@game.description) %>

  </div>



  <div class="clear"></div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_game_path(@game) %> |
  <% end %>
  <%= link_to 'Back', games_path %>

    <% for video in @game.videos %>
      <div class="media rounded">
            <%=h @str = embed_video(video.embedcode)
               if @str
                 @str.html_safe
               end
            %>
      </div>

    <% end %>


  <div class="media rounded">
  </div>


    <% @game.screenshots.each do |screenshot| %>
         <div class = "media rounded"><%=  image_tag screenshot.image_url.to_s, :class => "media rounded"  %></div>

       <% end%>




  </div>

  </div>
</div>

<script>

    $(document).ready(function() {
        var target = $('div.game').offset().top - 25;

        $('html, body').animate({scrollTop: target}, 1000);
    })

</script>

