<div class="game">
  <div class="media rounded">
    <%= image_tag @game.image_url(:top_game).to_s, :class => "media rounded"%>

  </div>
  <h1><%= @game.title %></h1>

  <div class="fact-box">
    <p>
      <%= render :template => "facts/_mixed_field", :locals => { :type => :Developer, :object => @game, :label => "Developer" } %>
      <%= render :template => "facts/_dates", :locals => { :object => @game.release_dates, :label => "Release Dates" } %>
      <strong>Platforms</strong>: PC, Mac, Linux, XBox360, PS3<br />
      <%= render :template => "facts/_mixed_field", :locals => { :type => :Publisher, :object => @game, :label => "Publisher" } %>
      <%= render :template => "facts/_mixed_field", :locals => { :type => :Distributor, :object => @game, :label => "Distributor" } %>
      <strong>Genre</strong>:
      <% @game.genres.each do |genre| %>
          <% if not genre == @game.genres.first %>,
          <% end%>
          <%= genre.name%>
      <% end %>
      <%= render :template => "facts/_mixed_field", :locals => { :type => :Series, :object => @game, :label => "Series" } %>
      <%= render :template => "facts/_mixed_field", :locals => { :type => :Credits, :object => @game, :label => "Credits" } %>
    </p>

    <p>
      <strong>Design</strong>: Turenga Leela<br />
      <strong>Programming</strong>: <a href="#">Bender Bending Rodruigez</a><br />
      <strong>QA Lead</strong>: Scruffy<br />
      <strong>EMEA Publishing</strong>: Awesome Game Publisher<br />
      <strong>Localisation</strong>: Das Translation
    </p>
    <p>
    <div>
      </div>
    </p>

  </div>

  <div class="text">
    <%= markdown(@game.description) %>

  </div>

  <div class="clear"></div>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_game_path(@game) %> |
  <% end %>
  <%= link_to 'Back', games_path %>
  <div class="media rounded">
    <%= image_tag 'screenshot_1.jpg', :alt => 'Screenshot 1 alt text' %>
    <div class="caption">
      This is an image caption for this very screenshot
    </div>
  </div>

  </div>
</div>

<script>

    $(document).ready(function() {
        var target = $('div.game').offset().top - 25;

        $('html, body').animate({scrollTop: target}, 1000);
    })

</script>