<!DOCTYPE html>
<html>
<head>
  	<title>Game Archive</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application", controller_name if controller_name != "sessions" %>
  	<%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div id="responsiveHelper"><span>media type: </span></div>

<div id="header">
	<div class="container">
		<div class="logo">
			<a href="/">
				<%= image_tag'logo.svg' %>
			</a>
		</div>
		<div class="brief">
			<p>Lomo sriracha farm-to-table, authentic deserunt selvage whatever tofu biodiesel thundercats wayfarers chillwave typewriter brooklyn. Mumblecore bespoke officia authentic trust fund. Nostrud bushwick velit quis echo park Austin. Pickled salvia small batch, mustache banh mi pork belly cosby sweater four loko narwhal. </p>
		</div>
	
		<div class="clear"></div>
	
		<div class="menu">
			<ul>
				<li><%= link_to 'home', "/"%></li>
				<li>about us</li>
				<li>news</li>
				<li>press</li>
			</ul>
			<ul>
				<li><%= link_to "games", games_path %></li>
                <li><%= link_to 'people' ,developers_path %></li>
				<li><%= link_to 'companies' ,companies_path %></li>				
			</ul>
			<ul>
				<li><%= link_to "search", '/search/query' %></li>
			</ul>
			<ul>
              <% if user_signed_in? %>
                  <% if current_user.admin? %>
                    <li>
                        <%= link_to('Send Invitation', new_user_invitation_path) %>
                    </li>
					<li>
                        <%= link_to('Manage Users', '/users/manage') %>
                    </li>
				    <li>
						<%= link_to('Reported Contents', reportblockcontents_path ) %>
					</li>
                  <% end %>
                  <li>
                    <%= link_to('Edit', edit_user_registration_path) %>
                  </li>
                  <li>
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                  </li>
              <% else %>
                  <li>
                    <%= link_to('Login', new_user_session_path)  %>
                  </li>
              <% end %>
			</ul>
		</div>	
		<div class="clear"></div>
	</div>
</div>

<%= render :template => 'notification/_notification' %>

<div id="body">
	<div class="container">
		<%= yield %>
	</div>
</div>

<div id="footer">
	<div class="container">
	    <div class="menu">
			<ul>
				<li><%= link_to 'home', "/"%></li>
				<li>about us</li>
				<li>news</li>
				<li>press</li>
			</ul>
			<ul>
                <li><%= link_to "games", games_path %></li>
                <li><%= link_to 'people', developers_path%></li>
				<li><%= link_to 'companies' ,companies_path %></li>		
			</ul>
			<ul>
				<li>search</li>
			</ul>
			<ul>
              <% if user_signed_in? %>
                  <% if current_user.admin? %>
                      <li>
                        <%= link_to('Send Invitation', new_user_invitation_path) %>
                      </li>
					  <li>
                        <%= link_to('Manage Users', '/users/manage') %>
					  </li>
				    <li>
						<%= link_to('Reported Contents', reportblockcontents_path) %>
					</li>
                  <% end %>
                  <li>
                    <%= link_to('Edit', edit_user_registration_path) %>
                  </li>
                  <li>
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                  </li>
              <% else %>
                  <li>
                    <%= link_to('Login', new_user_session_path)  %>
                  </li>
              <% end %>
			</ul>
		</div>	
		<div class="clear"></div>
		
		<div id="legal" class="grid_12">
			<p>Ennui food truck adipisicing, vinyl high life seitan direct trade authentic. Freegan truffaut placeat, umami portland +1 cred nostrud. Trust fund locavore sunt, readymade viral art party aute skateboard PBR sriracha. Post-ironic quinoa fugiat pork belly tempor.</p>
			<p>
				(c) 2012, some rights reserved
			</p>
		</div>
		
		<div class="clear"></div>
		<div id="footerLogo" class="grid_2">

			<%= image_tag 'logo-grey.svg' %>
		</div>
	</div>
</div>				

</body>
</html>
