<div class="company">
  <h1><%=  @company.name %></h1>
  <div class="fact-box">
    <%=

         imguploader = ImageUploader.new

        if not @company.image_url.to_s == imguploader.default_url

            image_tag @company.image_url.to_s , :class => "media rounded"

        end
    %>

        <%= render :template => "facts/_standard", :locals => { :object => @company, :label => "External Links" } %>
        <%= render :template => "facts/_credits", :locals => { :object => @company } %>
        <%= render :template => "facts/_user_defined", :locals => { :object => @company } %>
  </div>

  <div class="text">
    <%= markdown(@company.description) %>
  </div>

  <div class="clear"></div>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %> | <%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<script>

    $(document).ready(function() {
        var target = $('div.company').offset().top - 25;

        $('html, body').animate({scrollTop: target}, 1000);
    })

</script>


