<% if current_user.admin %>
    <h1>Manage Reported/Deleted Content</h1>
	<% Reportblockcontent.all.each do |reportblockcontent| %>
		<% if reportblockcontent.status ==0 %>
			<h1>Reported Content</h1>
			<table cellpadding="40">
			<tr>
			<td><b>Content Name</b></td>
			<td><b>Reason</b></td>
			<td><b>E-mail</b></td>
			<td></td>
			<td></td>
			</tr>
			<% break %>
		<% end %>
	<% end %>
	<% Reportblockcontent.all.each do |reportblockcontent| %>
	  <tr>
		<% if reportblockcontent.status ==0 %>
			<% if reportblockcontent.content_type ==0 %>
				<td><a href="/games/<%= reportblockcontent.content_id %>"><div><%= Game.find(reportblockcontent.content_id).title %></div></td>
			<% else if  reportblockcontent.content_type ==1 %>
				<td><a href="/developers/<%= reportblockcontent.content_id %>"><div><%= Developer.find(reportblockcontent.content_id).name %></div></td>
			<% else if  reportblockcontent.content_type ==2 %>
				<td><a href="/companies/<%= reportblockcontent.content_id %>"><div><%= Company.find(reportblockcontent.content_id).name %></div></td>
			<% end %>
			<% end %>
			<% end %>
			<td><%= reportblockcontent.reason %></td>
			<td><%= mail_to reportblockcontent.email %></td>
		
			<% if reportblockcontent.content_type ==0 %>
				<td><%= link_to 'Block', block_game_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==1 %>
				<td><%= link_to 'Block', block_developer_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==2 %>
				<td><%= link_to 'Block', block_company_path(reportblockcontent.content_id) %></td>
			<% end %>
			<% end %>
			<% end %>
			<td><%= link_to 'Destroy', reportblockcontent, method: :delete, confirm: 'Are you sure?', :action => "destroy"%></td>
		<% end %>
	  </tr>
	<% end %>
	</table>
<% end %>
	<% Reportblockcontent.all.each do |reportblockcontent| %>
		<% if reportblockcontent.status ==4 %>
			<h1>Deleted Content</h1>
			<table cellpadding="40">
			<tr>
			<td><b>Content Name</b></td>
			<td><b>Reason</b></td>
			<td><b></b></td>
			</tr>
			<% break %>
		<% end %>
	<% end %>
	<% Reportblockcontent.all.each do |reportblockcontent| %>
	  <tr>
		<% if reportblockcontent.status ==4 %>
			<% if reportblockcontent.content_type ==0 %>
				<td><a href="/games/<%= reportblockcontent.content_id %>"><div><%= Game.find(reportblockcontent.content_id).title %></div></td>
			<% else if  reportblockcontent.content_type ==1 %>
				<td><a href="/developers/<%= reportblockcontent.content_id %>"><div><%= Developer.find(reportblockcontent.content_id).name %></div></td>
			<% else if  reportblockcontent.content_type ==2 %>
				<td><a href="/companies/<%= reportblockcontent.content_id %>"><div><%= Company.find(reportblockcontent.content_id).name %></div></td>
			<% end %>
			<% end %>
			<% end %>
			<td><%= reportblockcontent.reason %></td>
		
			<% if reportblockcontent.content_type ==0 %>
				<td><%= link_to 'Undelete', delete_game_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==1 %>
				<td><%= link_to 'Undelete', block_developer_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==2 %>
				<td><%= link_to 'Undelete', block_company_path(reportblockcontent.content_id) %></td>
			<% end %>
			<% end %>
			<% end %>
		<% end %>
	  </tr>
	<% end %>
	</table>

<% if current_user.admin %>
	<% Reportblockcontent.all.each do |reportblockcontent| %>
		<% if reportblockcontent.status ==1 %>
			<h1>Blocked Contents</h1>
			<table cellpadding="40">
			<tr>
			<td><b>Content Name</b></td>
			<td><b>Reason</b></td>
			<td><b></b></td>
			</tr>
			<% break %>
		<% end %>
	<% end %>
	<% Reportblockcontent.all.each do |reportblockcontent| %>
	  <tr>
		<% if reportblockcontent.status ==1 %>
			<% if reportblockcontent.content_type ==0 %>
				<td><a href="/games/<%= reportblockcontent.content_id %>"><div><%= Game.find(reportblockcontent.content_id).title %></div></td>
				<td><%= reportblockcontent.reason %></td>
				<td><%= link_to 'Remove Block', block_game_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==1 %>
				<td><a href="/developers/<%= reportblockcontent.content_id %>"><div><%= Developer.find(reportblockcontent.content_id).name %></div></td>
				<td><%= reportblockcontent.reason %></td>
				<td><%= link_to 'Remove Block', block_developer_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==2 %>
				<td><a href="/companies/<%= reportblockcontent.content_id %>"><div><%= Company.find(reportblockcontent.content_id).name %></div></td>
				<td><%= reportblockcontent.reason %></td>
				<td><%= link_to 'Remove Block', block_company_path(reportblockcontent.content_id) %></td>				
			<% end %>
			<% end %>
			<% end %>
		<% end %>
	  </tr>
	<% end %>
	</table>

	
	<% Reportblockcontent.all.each do |reportblockcontent| %>
		<% if reportblockcontent.status ==2 %>
			<h1>Locked Contents</h1>
			<table cellpadding="40">
			<tr>
			<td><b>Content Name</b></td>
			<td><b>Reason</b></td>
			<td><b></b></td>
			</tr>
			<% break %>
		<% end %>
	<% end %>
	<% Reportblockcontent.all.each do |reportblockcontent| %>
	  <tr>
		<% if reportblockcontent.status ==2 %>
			<% if reportblockcontent.content_type ==0 %>
				<td><a href="/games/<%= reportblockcontent.content_id %>"><div><%= Game.find(reportblockcontent.content_id).title %></div></td>
				<td><%= reportblockcontent.reason %></td>
				<td><%= link_to 'Remove Lock', block_game_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==1 %>
				<td><a href="/developers/<%= reportblockcontent.content_id %>"><div><%= Developer.find(reportblockcontent.content_id).name %></div></td>
				<td><%= reportblockcontent.reason %></td>
				<td><%= link_to 'Remove Lock', block_developer_path(reportblockcontent.content_id) %></td>
			<% else if  reportblockcontent.content_type ==2 %>
				<td><a href="/companies/<%= reportblockcontent.content_id %>"><div><%= Company.find(reportblockcontent.content_id).name %></div></td>
				<td><%= reportblockcontent.reason %></td>
				<td><%= link_to 'Remove Lock', block_company_path(reportblockcontent.content_id) %></td>				
			<% end %>
			<% end %>
			<% end %>
		<% end %>
	  </tr>
	<% end %>
	</table>
	<br>

<% end %>
